<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<h1 class="abouttitle">ABOUT</h1>
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src= "<%= asset_path('about2.jpg') %>">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="<%= asset_path('about1.jpg') %>">
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="<%= asset_path('about4.jpg') %>">
			</div>
		</div>
	</div>
	<hr class="my-4">
</div>

<!---About -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3>WHO WE ARE</h3>
			<p class="lead">
			IChooseYou Ministries is a 501(c)3 non-profit organization that seeks to bring spiritual, economic, social, and physical relief to the Karamojong Tribe of Namatala, Uganda. There are thousands of impoverished Karamojong in Africa, and at least 12,000 men, women, and children in the small village of Namatala alone that are in dire need of help. We give 100% of your donation directly to the support of our sponsorships and projects in Namatala.</p>
			<h3>BEGINNING</h3>
			<p class="lead">In 2008 a group from Cypress Creek Church in Wimberley, Texas was on a mission trip to Mbale, Uganda.  When walking through the slums of Namatala in Mbale they were overcome by the feeling of hopelessness and the need that was so apparent.  Ted and Becky Ball, the team leaders, knew that they were being called to help in some way.  After meeting Sarah, a young lady that had completed secondary school and was trying to raise money to go the University, they decided to help her.  Sarah was the first IChooseYou student.  Soon after that, they got the bios and pictures of 20 more children.  People came forward and began sponsoring the children by providing education, food, and meeting medical needs.	
			</p>
			<h3>NOW</h3>
			<p class="lead">There are now 57 children in the IChooseYou program.  The youngest is 5 years old and the oldest is 24.  There are 27 children in Primary School (Kinder-6th grade), 26 in Secondary School (7th-12th grade), 3 in University and 1 completing University this year.  The children are all happy, healthy, working hard in school and looking towards the future.
			</p>
			<h3>OUR MISSION</h3>
			<p class="lead">IChooseYou Ministries mission is to provide children in Uganda with the essential necessities of everyday life. Having the opportunity to attend school can help eliminate the lack of education in Uganda. IChooseYou children are the hope of the future of their country.  The mission is not only to meet their physical needs but to demonstrate love and transformation through the power of Jesus Christ.
			</p>
		</div>
	</div>
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>


<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>