<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-xs-12 col-sm-6 col-md-4">
	<img width= "300px" src="<%= asset_path('paulina.jpg') %>">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="mail">
		<h1>CONTACT US</h1>
		<h4>PO Box 1357 Wimberley, TX 78676</h4>
		<h4>512.847.1222</h4>
		<h4>General inquiries:</h4> 
		<h6>ichooseyouministries@gmail.com</h6>
		<h4>Benefit celebration inquiries:</h4> 
		<h6>sunberry@austin.rr.com</h6>
		</div>
	</div>
	<div class="col-md-4">
		<img width= "400px" src="<%= asset_path('bailey.jpg') %>">
	</div>
</div>
<hr class="my-4">	
</div>

<!--- Video -->
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/287512022?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>




<!--- Connect -->
<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>


<!--- Footer -->
<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>
