<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('rebecca.jpg') %>">
            <div class="overlay">
                <h2>Namuru Rebecca</h2>
				<p>
			Rebecca is 15 years old and is in now in the Sr. 3 class at Mbale Secondary School in Mbale, Uganda! Her birthday is July 15, 2002.  Rebecca lives with her mother and father and 4 siblings.  Her parents try hard to provide for their family but because there or so few jobs in Uganda they have had a hard time. Peace, her mother, does work with the IChooseYou mamas and has quite the sewing skills.

			Rebecca loves school and is incredibly bright. Her reading skills are exceptional and is far beyond her years. She is a happy young lady and loves being with her friends. She may be little in size but she has a huge heart, a good head on her shoulders and the ambition to go after her dreams.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('winnie.jpg') %>">
            <div class="overlay">
                <h2>Kodet Winnie</h2>
				<p>Winnie is a sweetheart with a big smile and eyes that sparkle with mystery.  She is 16 years old and her birthday is April 23, 2001.  Winnie is in the Sr. 2 class at Lugazi Homeland College in Mbale, Uganda.  Her favorite subjects in school are science and English and she is in the top of her class. She is a very very VERY bright young lady. Winnie lives with both her mother & father and 5 siblings in a hut in Namatala.

				Winnie loves fashion and never misses a chance to put on a pretty dress. She loves having visitors at her hut and loves to cook posho and beans for them. This one, she has a lot in her but she’s not one to reveal everything at once. She is an incredible girl with so much to offer. Our beautiful Winnie has good things in store for her future!
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('charity.jpg') %>">
            <div class="overlay">
                <h2>Mugide Charity</h2>
				<p>Priscilla is a sweet little 10 year old girl.  Her birthday is May 2007.  She lives in Namatala with her mom, dad, older brother and baby brother.  Her mom has a garden and produce stand, and her dad is a skilled carpenter, but struggles to be healthy enough to work as his is HIV+.This little one is now in the P4 class at Covenant Primary School and is flourishing. She loves to read books in the library as well as listen to stories be told.

				Priscilla has the most contagious laugh there ever was. She is very much so a people person and loves to play outside. Energy is not something she lacks and she is always up for something new. She never fails to come by the IChooseYou office and say hello on her way home from school and loves holding hands.

				We are praying that she and her siblings remain HIV- and that her dad gains strength to work again!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	<!---Second 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('brian.jpg') %>">
            <div class="overlay">
                <h2>Teko Brian</h2>
				<p>
					Teko Brian is one of our precious little 8 year old boys. He has just moved up to the P5 class at Covenant Primary School and is number 2 in his class! Teko LOVES learning and going to school. He soaks it all up and we love that he loves it so much.

					He is such a pure hearted boy. Teko loves to hold hands and never has a mean word to say. He loves to go on adventures with his best friend Asuman and the two are always searching for little critters to take home. Teko is always on his best behavior and is one who shows respect for those around him. We love this boy a lot and love having him as a part of IChooseYou.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('irene.jpg') %>">
            <div class="overlay">
                <h2>Muduwa Irene</h2>
				<p>
				Irene is 12 years old and is in the P6 class at Covenant Primary School in Mbale, Uganda.  Her birthday is January 30, 2005.  She lives with her mother, father,  both Jja Jjas (grandmothers), and 7 siblings.

				Our sweet Irene is moving on up. She is quite observant of all that is going around her and not much gets past her. She loves being read to and hearing stories be told. She is willing to help with anything and isn’t afraid to get a little messy! We love this gal a lot and her smile brings us much joy.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('vicky.jpg') %>">
            <div class="overlay">
                <h2>Nachap Vicky</h2>
				<p>
					Vicky is 18 years old and is in the Sr. 1 class at Mbale Secondary School in Mbale, Uganda. Her favorite subject in school is social studies. Vicky loves going to school and loves being with her friends. Her birthday is July 7, 1999. Vicky lives with her mother, little brother, and little sister.

					Vicky has become our little socialite. She is friends with all and is the leader of her core group. She has the best sense of humor and has quick wit. She talks 100 mph and is not one to slow down very often. She now wears glasses and it has helped her studies 100%. This is one, she is very bright and is not scared to chase after what she wants in life. We know she is going to continue to be a leader of many and is going to be the voice for her people.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>


		<!---Third 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('peter.jpg') %>">
            <div class="overlay">
                <h2>Lowot Peter</h2>
				<p>
					Peter is a fun and happy, growing 13 year old boy. His birthday is June 18, 2004.  Peter is in the P6 class at Covenant Primary School in Mbale, Uganda.  He loves going to school and he says that English is his favorite subject.

					Peter comes from a good home, where he is taken care of by his Aunt Jennifer, and is becoming such a little man. He loves to take care of others and always makes sure everyone is comfortable. Peter also LOVES music. Anytime there is a guitar around, he picks it up and strums to his own songs and during church his hands are always raised high while belting out the songs. We love to watch him march to the beat of his own drum and we are so very impressed with who he is becoming.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('faizo.jpg') %>">
            <div class="overlay">
                <h2>Ndawula Faizo</h2>
				<p>
					Faizo is a wonderful 18 year old young man.  His birthday is July 7, 1999 and he is now in the Sr. 1 class at Mbale Secondary School in Mbale, Uganda. Faizo is very bright and is always in the top of his class!

					This one is an outstanding young man and everyone looks up to him. He leads by actions and never has to say much. He has a calming spirit and all of his friends trust him and his judgement. Faizo is a hard work, both at home and in class. He helps his Jja Jja out with their hut. We have seen him building new bricks and fixing holes. Although he works hard, he still finds time to be a kid and have fun with his buddies!
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('john.jpg') %>">
            <div class="overlay">
                <h2>Okor John</h2>
				<p>
					John is 17 years old.  They don’t know when his exact birthday is so IChooseYou gave him July 1, 2000 as his special day.  He is now participating in his third year at Lugazi Homeland College which is outside of Kampala.  This one, he is extremely bright, and is going to a school that can better prepare him to become a Doctor. John has set high goals for himself and fully intends to follow through with them all. We are so proud of his ambitions and are cheering him on all the way!

					This boy, he is special. He loves to sit and listen to others speak and is so willing to be taught in all areas of life. John remains very humble and gentle in his ways. He often shows his thankfulness for all the opportunities that have been given to him and he is wise beyond his years. We are excited to see him walk through this new adventure of living away from home and learning in whole new ways!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/the-children/page2">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/the-children">1</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item active"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">Next</a></li>
  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>






<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>