<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('sandra.jpg') %>">
            <div class="overlay">
                <h2>Sandra</h2>
				<p>
				Sandra is 15 years old and her birthday is November 11, 2002. She is now in the P6 class at Covenant Primary School. Her favorite subject is science and she loves to hear the stories in the Bible about Jesus.

				Sandra is one of our kids that comes from a loving home where both parents are encouraging and teaching her well. She now has four younger siblings (a new baby was born in November!) and she enjoys spending time with them and including them in her adventures. Sandra LOVES to write letters to her friends, telling them how thankful she is for them, and she is always drawing pictures of flowers. This one is a delight and has such a big heart that is worth being known.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('joann.jpg') %>">
            <div class="overlay">
                <h2>Kalenda Joann</h2>
				<p>Joann is a sweet and shy little soon to be 13 year old.  Her family does not know when she was born so IChooseYou gave her March 15, 2004 for her special day.  Joann has just joined the P7 class at Covenant Primary School and her favorite subject is math.

				Joann has a sassy streak in her and it is so funny when you get a glimpse of it. Although she can be shy a lot of the time, she has started coming out of her shell more and more. She loves to start games during recess and loves being with her best friend, Esther.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('stephen.jpg') %>">
            <div class="overlay">
                <h2>Elungat Stephen</h2>
				<p>Stephen is a growing 16 year old boy! His birthday is January 13, 2001 and he is in the Sr. 1 class at Mbale Secondary School in Mbale, Uganda. His favorite subject in school is English.

				Stephen is one of our goofy kids. He constantly comes to the office for a new pencil and just smiles when you ask him where his last one went! It’s very rare that you see him without a smile and if he sees you walking through Namatala, he will make sure you see him! There have been many times where we have walked past his home and he was working on school work with friends! This kid is serious about excelling in his studies! We sure do love Stephen.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	<!---Second 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('flower.jpg') %>">
            <div class="overlay">
                <h2>Florence "Flower"</h2>
				<p>
					Florence, also known as flower, if our absolutely stunning 19 year old who was born January 15, 1998. She has just started attending the university. Florence loves going to school and engaging in high level conversations.

					This one, she dreams big. Flower sees herself living a life in Kampala, doing something that no one she knows has done before. Flower has an eye for fashion and is constantly talking about stepping into that world. She loves designing outfits and fixing hair and makeup. She also loves to read and write her own poetry. She is perfectly content with sitting at home and writing up new things that are on her heart. She has passions that are coming more and more alive every day and we are dreaming right alongside her. Flower has a lot of potential and we know that she will step into it well and succeed!
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('mwanga.jpg') %>">
            <div class="overlay">
                <h2>Muwanga Paul</h2>
				<p>
					Paul is 17 years old but does not know when his birthday is so IChooseYou has given him May 17, 2000 as his special day.  He is in the P6 class at Covenant Primary School and claims that his favorite class is math.

					Paul has the cutest dimples you ever has seen but is not one of our big talkers. He might be quiet but you can’t miss him because he has grown so tall! He continues to do well in school and is growing into such a respectable young man.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('martha.jpg') %>">
            <div class="overlay">
                <h2>Apio Martha</h2>
				<p>
					Martha is a precious little 15 year old girl.  Her birthday is August 19, 2002.  She is in the Sr. 1 class at Mbale Secondary School in Mbale, Uganda.

					This one, I’m learning, loves pictures and being able to see things of the past. She always asks to look at photos of herself as well as photos of others. She is also very bright and asks many questions. Martha loves growing in knowledge of all things.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>


		<!---Third 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('senyonga.jpg') %>">
            <div class="overlay">
                <h2>Senyonga Isaac</h2>
				<p>
					Isaac is 15 years old.  His birthday is April 11, 2002. Isaac is in the P6 class at Covenant Primary School in Mbale, Uganda.  His favorite class in school is English.  Isaac’s parents live in a village far away from Namatala so he lives with his grandmother and his two cousins.

					This one has started coming around more and more. He thinks it is funny to imitate us Mzungus and he loves to go out on the soccer field and do flips. He absolutely does not fear grass stains!
				</p>
            </div>
    		</div>
			</div>		
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('jacob.jpg') %>">
            <div class="overlay">
                <h2>Odongo Jacob</h2>
				<p>
					Jacob and his twin brother are so much fun!!!  You can tell them apart by their personalities….Jacob is the stinker!! He is 17 years old and is in Sr. 1 class at Mbale Secondary School in Mbale, Uganda.  Jacob’s birthday is April 15, 2000.

					Like, we said, Jacob is a stinker but you gotta love him for it! He is all boy and loves to get dirty and mess with his friends. He’s got this special twinkle in his eye and quite the streak of mischief in his blood. You never know what he is going to get himself in to but thankfully it’s all good, clean fun!
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('isaac.jpg') %>">
            <div class="overlay">
                <h2>Opio Isaac</h2>
				<p>
				Isaac, the other half of Jacob, is our other favorite twin! Isaac is 17 years old and is in the P6 Class at Covenant Primary School in Mbale, Uganda.  His birthday is April 15, 2000.

				Isaac might be a little more introverted than his brother but it doesn’t make him any less lovable or fun! He is more gentle in his ways and does not mind just coming and sitting next to you. He likes to whisper to his friends when others are around but he also isn’t afraid to tell a funny joke. We love Isaac for all that he is and proudly claim him as our own!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/the-children/page3">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/the-children">1</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item active"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">Next</a></li>
  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>






<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>