<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('mike.jpg') %>">
            <div class="overlay">
                <h2>Mike</h2>
				<p>
				Mike is one of our oldest students in IChooseYou.  He is 19 years old and is in S4  at Mbale Comprehensive School.  Mike is the second in line in a family of four children.  He was always the quiet one but since he has found love through IChooseYou and knows that people care about him, he has come alive!!!  When you sit down with Mike you soon realize that this young man is very bright and has so much to say!  He loves to ask questions about America and about your family, so be prepared when ya meet him!

				This one also loves music of all types. He likes to stay in the loop of what is new and good and is always looking for something good to listen and dance to. He also tries to stay on top of what is fashionable for guys his age. Mike is one unique guy and we love him for it!
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('meddy.jpg') %>">
            <div class="overlay">
                <h2>Masaba Meddie</h2>
				<p>Meddie is 18 years old and has moved on to the Sr. 2 class at Mbale Secondary School in Mbale, Uganda.  His birthday is June 7, 1999.  Meddie loves school and his favorite class is English.

				Meddie is a leader, 100%. This boy works hard and is learning how to lead a church. He participates in the worship band and has recently learned the guitar. He is also one that people are just drawn to and listen to what he has to say. He helps lead bible studies and is an encourager to his friends. By his actions, he shows other how to seek after Jesus with all that he’s got. Meddie is also extremely humble and selfless. He is one that will be a leader of many people and will do big things for the Kingdom of God.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('gift.jpg') %>">
            <div class="overlay">
                <h2>Kilabo "Gift" Florence</h2>
				<p>Florence is a precious little girl.  She smiles all the time and her smile is very contagious!! She is in P3 at Covenant Primary School.  In the past year, she has learned to speak English fluently as well writing. She is brilliant and struggles very little in school.

				Gift is just special. She talks 100 mph and can also cook a mean dish including matoke and beans & rice. She is very independent and does not fear much. Then there is the fact that she is teaching her mother how to read and write! A little girl who, a year ago, could not even speak or understand English herself is now teaching others. That right there is the power of Jesus & education. Little Gift is going to be instrumental in teaching others around her.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	<!---Second 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('asuman.jpg') %>">
            <div class="overlay">
                <h2>Waniala Asuman</h2>
				<p>
					Asuman is our sweet 10 year old who has just moved up to the P5 class at Covenant Primary School.

					This one is such a little cutie, even when he is capturing crickets and trying to put them in your bag! Not surprisingly, Asuman loves to play tricks on others and truly is all in good, clean innocent fun. Him and his best friend, Teko, are always up to something and if you catch them soon enough, they just laugh it off! Besides being a lil trickster, Asuman is also very hospitable. He loves to have people over to his home for tea and is very proud of all the pictures and books he owns.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('goreti.jpg') %>">
            <div class="overlay">
                <h2>Ichumar Goret</h2>
				<p>
					Goret is 17 years old and has now moved up to the Sr. 2 class at Mbale Secondary School.  Her birthday is March 22, 2000.

					Goret is adored by all. Her friends cherish her sweet disposition and love to be around her. She always chooses to see the best in a situation and she has an extremely hard time not smiling! This one is very close to her family and does such a good job making sure her little sisters felt loved and included. Goret is a solid friend and a joy giver.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('ana.jpg') %>">
            <div class="overlay">
                <h2>Kionga Anna</h2>
				<p>
					Anna is a sweet little 13 year old girl. Because her family does not know when her birthday is IChooseYou gave her January 1, 2004 as her special day.  This one is in the P6 class at Covenant Primary school and she is an excellent student.

					Anna is good at organizing. She likes things in order and is a little planner. She always has something up her sleeve and you can she her mind churning. She is a giggle machine and loves to hug.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>


		<!---Third 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('gloria.jpg') %>">
            <div class="overlay">
                <h2>Alero Gloria</h2>
				<p>
					Gloria, the one full of so much joy.  This young lady is 11 years old and is in the Sr. 1 class at Mbale Secondary School. Gloria’s favorite class is math and she does such a good job in her studies.

					Gloria is a happy, delightful little girl that is so fun to be around. She is a leader and does such a good job at it. She is very respectable and is easy to teach. Gloria is also a giver. She loves to cook you meals and give you little hand-made gifts. Her smile is breathtaking and her hugs absolutely make you feel loved.
				</p>
            </div>
    		</div>
			</div>		
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('beatrice.jpg') %>">
            <div class="overlay">
                <h2>Logose Beatrice</h2>
				<p>
					Beatrice is a little sweetheart who is now 12 years old….her birthday is August 17, 2005.  Beatrice has moved up to the P6 class at Covenant Primary school and is excelling. She stays at the of her class and astounds us with her grades.

					Besides being quite intelligent, Beatrice is also silly, fun, and loving. This little one is a person who seeks out other people who are by themselves. She likes to make sure everyone feels included and wanted. She has the most precious smile and the cutest dimples and her laugh can make anyone want to join in.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('akuu.jpg') %>">
            <div class="overlay">
                <h2>Ageri Akuu Helen</h2>
				<p>
				Akuu is 15 years old… We gave her birthdate of January 5, 2002 because no one knew exactly when she was born.  She is in the P7 class at Covenant Primary School in Mbale, Uganda.  Her favorite class is math but Akuu loves to go to school and learning about all things.

				Akuu recently lost her mother but has chosen to still choose joy. Once shy and not very outgoing, this one has come out of her shell and become such a bright light! She is still absolutely an individual and is not easily influenced by those around her. She has a mind of her own and does not mind being in her own little world. This beautiful girl has so much potential and is going to make a huge impact in her community and in her tribe.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/the-children/page4">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/the-children">1</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item active"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">Next</a></li>
  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>






<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>