<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('joyce.jpg') %>">
            <div class="overlay">
                <h2>Joyce Nankwanga</h2>
				<p>
				Joyce is now 19 years old and her birthday is June 24, 1998. She has moved up to her sixth and final year at Lugazi Homeland College and is doing beyond well. Joyce loves school and is working so so hard to become a doctor and be one who helps improve the lives of people around her and from her village.

				This beauty is a solid girl. She is one who knows what she wants and is doing everything in her power to be the best she can. Joyce is a hard worker and does not let a whole lot discourage her. We are so proud of her and the ambitions & dreams she has.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('manuela.jpg') %>">
            <div class="overlay">
                <h2>Manuela</h2>
				<p>Manuela is a beautiful and fun little 9 year old. She is in the P7 class at Covenant Primary School with her best friend, Esther. She is a hard worker in school and keeps her grades up!

				Manuela loves to play pretend as well as sing. She is constantly asking to be taught new songs and learns them VERY quickly. This cutie also LOVES to pose for the camera. She can strike poses with the best of them and she always looks stunning doing so. Manuela also loves being with Esther. The two are rarely apart when at school and they love to laugh together.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('esther.jpg') %>">
            <div class="overlay">
                <h2>Arinaitwe Esther</h2>
				<p>Arinaitwe Esther is a delightful little girl…full of laughter, love and hugs. She is 12 years old and her birthday is Oct. 9, 2005. Esther loves school and is in P7 class at Covenant Primary School in Mbale, Uganda. She says that math is her favorite subject and she loves the story about Queen Esther in the Bible.

				Esther is a lover of music. She has learned how to play guitar and loves to worship with her family. She is a quick learner and is so easy to teach. Esther also recognizes the beauty in all things. Give her a camera and you will get the most stunning pictures there ever was. This one also loves to go on walks and collect wild flowers. She is a story teller and has the most beautiful imagination. Esther is a treasure and has a heart of gold.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/the-children/page5">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/the-children">1</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item active"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">Next</a></li>


  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>
<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>