<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a href="#" class="navbar-brand"><img src="<%= asset_path('logoi.png') %>"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/the-children">Meet the Children</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sponsorship">Sponsor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>

	</div>
</nav>

<div class="meet">
	<h1>MEET THE CHILDREN</h1>
	
</div>

<!---First 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('james.jpg') %>">
            <div class="overlay">
                <h2>Bumba James</h2>
				<p>
					Bumba James is 18 years old.  His birthday is September 30, 1999.  James is in now in Secondary 3 class at Mbale Secondary School in Mbale, Uganda.  He lives with his mother in a neighboring community near Namatala. He lives in a good home and has a wonderful support system.

					James has a tender heart and loves to serve. He is not boastful of the work he does but is very diligent. He has one of the most handsome smiles you have ever seen and loves to laugh. James is also an incredible soccer play and is out on the field kicking the ball every chance he gets.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('edriza.jpg') %>">
            <div class="overlay">
                <h2>Bumba Edriza</h2>
				<p>Bumba is 18 years old.  He did not know when his birthday was so we gave him September 9, 1999 as his special day!  Bumba is now in Secondary 3 class at Mbale Secondary School in Mbale, Uganda.  His father died several years ago and he lives with his mother and 2 siblings.

				Bumba is a bright young man. He is quiet and sometimes just stays in the background but we have learned that he actually can be quite the clown! He loves science and all things nature. This one, he lights up when you say hello to him and it’s not an exaggeration when I say his smile can instantly brighten up a room.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
						    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('priscilla.jpg') %>">
            <div class="overlay">
                <h2>Namkoma Priscilla</h2>
				<p>Priscilla is a sweet little 10 year old girl.  Her birthday is May 2007.  She lives in Namatala with her mom, dad, older brother and baby brother.  Her mom has a garden and produce stand, and her dad is a skilled carpenter, but struggles to be healthy enough to work as his is HIV+.This little one is now in the P4 class at Covenant Primary School and is flourishing. She loves to read books in the library as well as listen to stories be told.

				Priscilla has the most contagious laugh there ever was. She is very much so a people person and loves to play outside. Energy is not something she lacks and she is always up for something new. She never fails to come by the IChooseYou office and say hello on her way home from school and loves holding hands.

				We are praying that she and her siblings remain HIV- and that her dad gains strength to work again!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>

	<!---Second 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('ruth.jpg') %>">
            <div class="overlay">
                <h2>Abado Ruth</h2>
				<p>
					Ruth is a precious and happy little 12 year old girl.  Her birthday is April 17, 2005.  She is now in the P7 class at Covenant Primary School in Mbale, Uganda.  Ruth has 3 adorable little siblings and they live in Namatala with their parents.  Ruth’s father sometimes works as a casual builder.  Her mother, Elizabeth, can plate (braid) hair and sew table cloths. She also sells the most delicious pancakes in town!  She has joined the IChooseYou moms in the Amina Sewing Club, learning new skills so she can help provide for her family and has grown so much in her craftsmanship.

					Ruth carries much compassion and is gentle in every way possible. She is well-behaved and very studious. Anytime she has a visitor at home, she is sure to grab a seat for them and bring a nice, cold coke! She is very loving and kind to all that she meets.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('nakiru.jpg') %>">
            <div class="overlay">
                <h2>Nakiru Betty</h2>
				<p>
					Nakiru Betty is now 17 years old and is in the Sr. 2 class at Mbale Secondary School in Mbale, Uganda.  No one knew when Nakiru Betty’s birthday was so IChooseYou gave her May 13, 2000 as the day to celebrate her!  Her dad died several years ago and she live with her mother and 5 siblings in Namatala, Uganda.

					Betty is quite the funny girl! She keeps her friends laughing and loves to be goofy. She also has the knack for drawing. If you give her a piece of paper, you can be certain that some beautiful creation will end up on it.

					This one, she brings much joy and laughter and we love her a whole lot.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('illukor.jpg') %>">
            <div class="overlay">
                <h2>Ilukor Betty</h2>
				<p>
					Iluor Betty is 14 years old and is in the Sr. 2 class at Mbale Secondary School in Mbale, Uganda.  No one knows the exact date of Betty’s birth, so IChooseYou has given her March 14, 2003 for her special day!  Betty loves going to school and learning whatever new information is thrown her way.

					Betty’s mother passed away when she was younger and her father has moved back to his village of origin. Therefore, Betty lives at the hostel and loves to help the House Mama cook and keep everything orderly!

					This one, she carries such a gentle spirit. She is absolutely beautiful and she blushes every time you mention it. Her sheepish smile is lovely and she gives the best hugs a person can give!
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
	</div>


		<!---Third 3 Children-->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('justine.jpg') %>">
            <div class="overlay">
                <h2>Nalubowa Justine</h2>
				<p>
					Justine is 17 years old and is now in her fourth year of boarding school at Lugazi Homeland College in Uganda.  Her favorite subject in school is math and she has become quite the writer!  Justine is learning to love being away at boarding school and how to live away from home.

					When she was younger, Justine’s father passed away from AIDS and her mother was left raising 4 beautiful daughters. While Mama Sarah also suffers from HIV she has remained very healthy and works hard to provide for her family.

					As mentioned before, Justine LOVES to write. She writes songs, poetry, and short stories and they are absolutely wonderful. This young lady also enjoys singing and learning new songs. She is a natural leader and does so very lovingly.
				</p>
            </div>
    		</div>
			</div>
					
		</div>
			
		
		<div class="col-md-4">
			<div class="card">
		    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path('lesse.jpg') %>">
            <div class="overlay">
                <h2>Namoye Lesse</h2>
				<p>
					Lesse is soon to be 16 years old and is in the Sr. 2 class at Mbale Secondary School in Mbale, Uganda.  No one knew her actual birthday so IChooseYou gave her May 16, 2001 as her special day to celebrate!

					During the school terms Lesse lives in the hostel and during holidays she goes and stays with Jennifer, one of the aunties in IChooseYou.

					Lesse is more on the shy side but when you get her one on one, she will gladly speak. She loves to observe and watch everything happen around her. Later, she can give you any detail you need of a certain event. She is a hard worker and is very diligent in both her work at school and helping around the hostel and Jennifer’s home.
				</p>
            </div>
    		</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
			<div class="hovereffect">
        		<img class="img-responsive" src="<%= asset_path('stanley.jpg') %>">
            <div class="overlay">
                <h2>Musoke Stanley</h2>
				<p>
					Stanley is soon to be 20 years old and is now in the Sr. 2 class at Mbale Secondary School in Mbale, Uganda.  His birthday is April 25, 1997.  Stanley comes from a loving home.  His mother, Joyce, is very involved with the IChooseYou moms who sew and make beads. She is a life giver and always sees the best in situations and I know she is teaching and leading Stanley well.

					Stanley is one of our more quiet boys. When he is not in school, it is likely that you will see him riding his bike around Namatala, which is impressive because bikes over there are not easy to ride, especially on bumpy dirt roads! Although very quiet, Stanley is a very bright guy and is excelling in school.
				</p>
            </div>
    		</div>
			</div>
		</div>
		</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/the-children">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/the-children">1</a></li>
    <li class="page-item active"><a class="page-link" href="/the-children/page2">2</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">3</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page4">4</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page5">5</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page6">6</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page7">7</a></li>
    <li class="page-item"><a class="page-link" href="/the-children/page3">Next</a></li>
  </ul>
</nav>



</div>
	<hr class="my-4">
</div>

<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-12">
		<h2>CONNECT</h2>
	</div>
	<div class="col-12 social padding">
		<ul class="social-links">
            	<li><a class="facebook" href="https://www.facebook.com/IChooseYouKids/"></a></li>
				<li><a class="twitter" href="https://twitter.com/IChooseYouMinis"></a></li>
				<li><a class="instagram" href="https://www.instagram.com/ichooseyoukids/?hl=en"></a></li>
				<li><a class="mail" href="mailto:ichooseyouministries@gmail.com"></a></li>
		</ul>
	</div>
</div>	
</div>






<!----Footer-->

<footer>
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5><i class="far fa-copyright"></i> ICHOOSEYOU MINISTRIES ALL RIGHTS RESERVED.</h5>
		</div>
		<div class="col-md-4">
		</div>
		
	</div>	
	</div>
</footer>